* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Header */

header {
    padding: 10px 0;
    background-color: #131b3a;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.header-nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-nav-ul-li {
    margin: 0 10px;
    padding: 10px 20px;
}

.header-nav-ul-li:last-child {
    margin-right: 0;
}

.header-nav-ul-li_a {
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

/* Generales */

h1 {
    text-align: center;
    font-weight: bold;
}

section h1, div h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.main-section_principal-h1 {
    text-transform: capitalize;
}

/* Main */

/* Principal Section */

.main-section_principal {
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
    align-items: center;
    background-color: #0f162f;
}

.main-section_principal-img {
    width: 30vw;
    border-radius: 10px;
    margin: 20px 0;
}

div.main-section_principal-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div#main-section_principal-div h1#main-section_principal-h1 {
    font-size: 40px;
    margin: 10px 0;
    color: #FFF;
}

div#main-section_principal-div h2#main-section_principal-h2 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #FFF;
}

section a {
    text-decoration: none;
    color: #000000;    
}

a.main-section_principal-a {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;    
    background-color: #3f2bbf;
    border-radius: 10px;
    color: #FFF;
    font-weight: 400;
    font-size: 120%;
}
