* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    padding: 20px;
}

section h1 {
    font-size: 40px;
    color: #FFF;
}

/* Header */

header {
    padding: 10px 0;
    background-color: #131b3a;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.header-nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-nav-ul-li {
    margin: 0 10px;
    padding: 10px 20px;
}

.header-nav-ul-li:last-child {
    margin-right: 0;
}

.header-nav-ul-li_a {
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.header-nav-ul-li:hover {
    background-color: #000000;
    transition: 0.2s;   
}

/* Generales */

h1 {
    text-align: center;
    font-weight: bold;
}

section h1, div h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.main-section_principal-h1 {
    text-transform: capitalize;
}

/* Main */

/* Principal Section */

.main-section_principal {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
    align-items: center;
    background-color: #0f162f;
}

.main-section_principal-img {
    width: 30vw;
    border-radius: 10px;
    margin: 20px 0;
}

div.main-section_principal-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div#main-section_principal-div h1#main-section_principal-h1 {
    font-size: 40px;
    margin: 10px 0;
    color: #FFF;
}

div#main-section_principal-div h2#main-section_principal-h2 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #FFF;
}

h2#main-section_principal-h2_1015sol {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    font-weight: 500;
}

section a {
    text-decoration: none;
    color: #000000;    
}

a.main-section_principal-a {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;    
    background-color: #3f2bbf;
    border-radius: 10px;
    color: #FFF;
    font-weight: 400;
    font-size: 120%;
}

/* Section Skills */

.main-section_skills {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
    background-color: #1c2e4f;
    flex-wrap: wrap;
}

.main-section_skills-h1 {
    color: #FFF;
    font-size: 3vw;
}

.main-section_skills-div_hs {
    display: flex;
    flex-direction: row;
    gap: 25vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}

div.main-section_skills-div_hs h4 {
    color: #FFF;
    margin-bottom: 20px;
    font-size: 25px;
}

.main-section_skills-div_hs-div_web, .main-section_skills-div_hs-div_programming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div_skills-icons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
}

.div_skills-icons svg {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}


/* Section Experiencia */

.main-section_experiencia {
    background: #060913;
}

.main-section_experiencia-div_padre {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    
}

.main-section_experiencia-div_detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: #FFF;
    background-color: #1C1F26;  /* Fondo acorde al fondo principal */
    border-radius: 15px;  /* Bordes redondeados */
    padding: 20px;
    width: 300px;  /* Puedes ajustar el ancho si lo deseas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);  /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Transiciones suaves */
}

.main-section_experiencia-div_detalle img {
    width: 150px;
    height: 150px; 
    object-fit: contain;
}

.main-section_experiencia-div_detalle:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); 
}

/* Section Proyectos */

.main-section_proyectos {
    background-color: #1c2e4f;
}

.main-section_proyectos-div_padre {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr); /* Siempre muestra 2 columnas */
    gap: 20px;
}

.main-section_proyectos-div_detalle {
    position: relative;
    width: 100%; /* Ancho completo del contenedor */
    height: 300px; /* Altura total que incluye imagen y contenido */
    border: 2px solid #ffffff33;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2a3f5b;
    transition: all 0.7s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Imagen del proyecto que cubre todo el contenedor */
.main-section_proyectos-div_detalle img.main-section_proyectos-div_detalle-img_proyecto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: height 0.5s, transform 0.5s;
}

/* Información del proyecto (inicialmente oculta) */
.main-section_proyectos-div_detalle h2, 
.main-section_proyectos-div_detalle h3, 
.main-section_proyectos-div_detalle img.main-section_proyectos-div_detalle-img_logo {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    margin: 5px 0;
}

/* Al hacer hover en el contenedor */
.main-section_proyectos-div_detalle:hover img.main-section_proyectos-div_detalle-img_proyecto {
    /* height: 60%;  Reduce la altura de la imagen para mostrar el contenido */
    transform: scale(1.1); /* Agranda la imagen ligeramente */
}

.main-section_proyectos-div_detalle:hover {
    height: auto;    
}

.main-section_proyectos-div_detalle:hover .main-section_proyectos-div_detalle-img_proyecto {
    margin-bottom: 7%;
}

.main-section_proyectos-div_detalle:hover h2, 
.main-section_proyectos-div_detalle:hover h3, 
.main-section_proyectos-div_detalle:hover img.main-section_proyectos-div_detalle-img_logo {
    display: block;
    opacity: 1;
    padding: 10px;
}

/* Estilo de la información adicional */
.main-section_proyectos-div_detalle h2 {
    font-size: 25px;
    font-weight: bold;
}

.main-section_proyectos-div_detalle h3 {
    font-size: 18px;
}

.main-section_proyectos-div_detalle img.main-section_proyectos-div_detalle-img_logo {
    width: 50%;
}

/* Section Contacto */

.main-section_contacto {
    background-color: #181a1b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section_contacto-h1 {
    font-size: 36px; /* Tamaño de letra aumentado */
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

/* Formulario */
.main-section_contacto-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Divs de Entrada */
.main-section_contacto-form-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Etiquetas */
.main-section_contacto-form-div label {
    color: #cccccc; /* Color claro para contraste con fondo oscuro */
    font-weight: bold;
    font-size: 16px; /* Tamaño de letra aumentado */
}

/* Campos de Entrada */
.main-section_contacto-form-div input,
.main-section_contacto-form-div textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #444444; /* Borde gris oscuro */
    border-radius: 4px;
    background-color: #2a2c2e; /* Fondo oscuro para los campos */
    color: #ffffff; /* Texto claro */
    font-size: 18px; /* Tamaño de letra aumentado */
}

/* Placeholder */
.main-section_contacto-form-div input::placeholder,
.main-section_contacto-form-div textarea::placeholder {
    color: #aaaaaa; /* Color más claro para el placeholder */
}

/* Botón de Enviar */
.main-section_contacto-form button {
    width: 100%;
    padding: 14px;
    background-color: #550a7d; /* Color morado para el botón */
    color: #ffffff;
    font-size: 18px; /* Tamaño de letra aumentado */
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-section_contacto-form button:hover {
    background-color: #3e085b; /* Color de hover para el botón */
}

/* Ajuste de Enfoque */
.main-section_contacto-form-div input:focus,
.main-section_contacto-form-div textarea:focus {
    outline: none;
    border-color: #550a7d; /* Color morado en el borde al enfocarse */
    box-shadow: 0 0 5px rgba(85, 10, 125, 0.5);
}


/* FOOTER */

.footer {
    background-color: #181a1b;
    color: #cccccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

/* Estilos de columnas */

.footer {
    background-color: #0f162f;
}

.footer-div {
    flex: 1;
    padding: 10px;
}

/* Derechos reservados */
#footer-div_derechos p {
    margin: 0;
    font-size: 20px;
}

/* Web Developer y logo */
#footer-div_webdev p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.main-footer__logo {
    display: block;
    margin: 10px auto;
    width: 50%;
    height: auto;
}

/* Redes sociales */
.footer-div_redes-a {
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.footer-div_redes-a:hover {
    text-decoration:underline;
    color: #7d0a0a; /* Color de hover para los enlaces de redes sociales */
}